.ImageItem {
  display              : grid;
  grid-template-columns: auto 80px;
  grid-gap             : 6px;
  border               : solid 1px black;
  padding              : 15px;
  width                : 100%;
  box-sizing           : border-box;
  max-width            : 320px;
}

.ImageItem>span {
  display          : block;
  grid-column-start: 1;
  grid-column-end  : 2;
}

@media only screen and (max-width: 600px) {
  .ImageItem {
    max-width: none;
  }
}
